:root {
	--ah-green: #5fcf80;
	--ah-dark: #343a40;
	--ah-card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
@font-face {
	font-family: Segoe UI;
	src: url(../fonts/segoeui.ttf);
}
@font-face {
	font-family: Segoe UI;
	src: url(../fonts/segoeuibold.ttf);
	font-weight: 700;
}
/*****************************************************/
.login, .login body {
	width: 100%;
	height: 100%;
}
.login body {
	background: var(--ah-dark);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	min-height: 100%;
	display: table;
}
.login form {
	max-width: 400px;
	width: 90%;
	margin: 0 auto;
}
.login .cover {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.login .brand {
	max-width: 200px;
	width: 100%;
}
.login .brand-subtitle {
	font-weight: 700;
	color: rgba(255, 255, 255, .6);
}
.login input {
	max-width: 300px;
	width: 100%;
	background: #fdfdfd;
	outline: none;
	border: none;
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid rgba(0, 0, 0, .1);
}
.login ::placeholder {
 	color: 1px solid rgba(0, 0, 0, .1);
}
.login #login-form input[type="text"] {
	margin-top: 5px;
	margin-bottom: -1px;
	border-radius: 10px 10px 0 0;
}
.login button[type="submit"] {
	max-width: 300px;
	width: 100%;
	padding: 5px;
	border: none;
	background: var(--ah-green);
	color: white;
	cursor: pointer;
	font-weight: 700;
	border-radius: 0 0 10px 10px;
	margin-bottom: 5px;
}
.login .wrong {
	font-weight: 700;
	color: #ff3145;
}
.login a.title {
	color: black;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.1;
}
.login a.title small {
	text-transform: none;
	font-weight: 400;
}
/*****************************************************/
html {
	min-height: 100%;
	position: relative;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.navbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.navbar-toggler {
	position: absolute;
	left: 13px;
	padding: 9px 10px;
	top: 13px;
	border-radius: 4px;
	background: transparent;
	border: none;
}
.navbar-toggler .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	background-color: white;
	border-radius: 1px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.navbar-toggler .top-bar {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
	margin-top: 4px;
	opacity: 0;
	margin-bottom: 4px;
}
.navbar-toggler .bottom-bar {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.navbar-nav .dropdown-menu {
	position: absolute;
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,.9);
	font-size: 90%;
	font-weight: 700;
}
.dropdown-menu-right {
	right: 0;
	left: auto;
}
.navbar-links {
	background: var(--ah-green);
	width: 100%;
	margin: .5rem -1rem -.5rem -1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
	position: absolute;
	margin-top: 0;
	top: 56px;
}
.navbar-links-fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1030;
	margin: 0;
}
.navbar-links a {
	font-size: 90%;
	color: white;
	font-weight: 400;
}
.navbar-links a.active {
	font-weight: 700 !important;
}
.navbar-links a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
}
main {
	margin-top: 93px;
	padding-bottom: 5rem;
}
.navbar-brand {
	margin: -5px;
	padding: 0;
}
.navbar-brand img {
	height: 40px;
}
.avatar {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	float: left;
	margin-top: -2px;
	border-radius: 50%;
}
.jumbotron {
	background: #fff;
	border-radius: 0;
}
.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.card {
	margin: .5rem 0;
}
.card-body h1 {
	font-weight: 700;
}
.last-changes .list-group-item {
	line-height: 1.2;
	padding: .75rem .75rem;
}
.last-changes .avatar {
	width: 40px;
	height: 40px;
	margin-right: 15px;
	margin-top: 0;
}
footer {
	padding: .5rem 0;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 80%;
	background: #fff;
	box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.07);
}
footer a {
	text-decoration: none;
	color: inherit;
}
footer a:hover {
	text-decoration: none;
	color: inherit;
}
.admin {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1;
    flex: 0 0 20%;
    max-width: 20%;
    text-align: center;
}
.admin .admin-name {
	font-weight: 700;
	display: block;
	font-size: 1rem;
}
.admin small {
	font-size: 70%;
}
.admin .admin-avatar {
	margin-top: 0;
	width: 40%;
	height: auto;
	float: none;
	margin-bottom: 1rem;
	margin-right: 0;
}
#users-table {
	background: #fff;
}
#users-table td, #users-table th {
	padding: .35rem;
	white-space: nowrap;
	font-size: .9rem;
}
.add-user {
	border: none;
	background: var(--ah-green);
	color: #fff !important;
	cursor: pointer;
	font-weight: 700;
	border-radius: 0;
}
a.btn {
	color: #fff !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active {
	background-color: var(--ah-green);
	border-color: var(--ah-green);
}
button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
#users-table a {
	font-weight: 700;
	font-size: 80%;
}
.no-admin {
	margin-top: 66px;
}
.separator {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 1rem;
	margin-bottom: 1rem;
}
#users-table thead th {
	border: 0;
	background: var(--ah-dark);
	color: white;
}
.table-responsive {
	border: 1px solid var(--ah-green);
}
.table-responsive table {
	margin-bottom: 1px;
}
.modal-header {
	background: var(--ah-dark);
	color: white;
	padding: 5px 15px;
}
.modal-header .modal-title {
	margin: 0 auto;
}
.modal-header .close {
	color: #fff;
	position: absolute;
	right: 15px;
	top: 5px;
}
.modal-content {
	border-radius: 0;
}
.cropit-preview {
	background-size: cover;
	width: 300px;
	height: 300px;
	margin: 0 auto;
}
.cropit-image-loaded {
	width: 300px;
	height: 300px;
}
.cropit-preview-image-container {
	cursor: move;
	border-radius: 50%;
}
.cropit-image-input {
	display: none;
}
.cropit-image-zoom-input {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.cropit-image-zoom-input:hover {
	opacity: 1;
}
.cropit-image-zoom-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--ah-green);
    cursor: pointer;
    border-radius: 50%;
}
label[for="load-photo"] {
	margin-bottom: 0;
}
.image-editor-controls {
	display: none;
}
.export {
	opacity: .5;
}
.revoke-admin-icon {
	color: #ffd700;
}
.revoke-admin-icon:hover {
	color: #afafaf;
}
.make-admin-icon {
	color: #afafaf;
}
.make-admin-icon:hover {
	color: #ffd700;
}
.fa-fw {
	width: 1.75rem;
}
#users-table .fa-fw {
	text-align: left;
}
.allergy-info {
	max-height: 300px;
	overflow-y: auto;
	display: block;
}
.allergy-info .list-group-item {
	padding: .5rem 1rem;
}
.allergy-info .list-group-item:first-child, .allergy-info .list-group-item:last-child {
	border-radius: 0;
}
.allergy-info .list-group-item:first-child {
	margin-top: -1px;
}
form[name="add_sign"] input, form[name="add_sign"] button, form[name="add_cause"] input, form[name="add_cause"] button {
	border-radius: 0;
	padding: .5rem 1rem;
	margin-bottom: 0;
}
@media screen and (max-width: 1199px)
{
	.admin {
		line-height: .9;
	}
	.admin .admin-name {
		font-size: .8rem;
	}
	.admin small {
		font-size: 60%;
	}
}
@media screen and (max-width: 992px)
{
	html {
		font-size: 75%;
	}
	.container {
		min-width: 100% !important;
	}
	.navbar {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
		position: fixed;
		z-index: 1030;
		font-size: 1.2rem;
	}
	h1, h2, h3 {
		font-size: 1.5rem;
	}
	main {
		margin-top: 56px;
	}
	.navbar-nav {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.nav-link {
		font-weight: 400 !important;
	}
	.navbar-nav .nav-item:last-child .nav-link, .nav-link.active {
		font-weight: 700 !important;
	}
	.navbar-nav .dropdown-menu {
		position: relative;
		width: 100%;
	}
	.card {
		margin: .25rem 0;
	}
	.admin {
		flex: unset;
		max-width: unset;
		text-align: left;
		line-height: 1.2;
	}
	.admin .admin-avatar {
		float: left;
		width: auto;
		height: 31px;
		margin-bottom: 0;
	}
	.admin .admin-name {
		font-size: 1.2rem;
	}
	.admin small {
		font-size: 1rem;
	}
	.jumbotron {
		padding: 2rem 1rem;
		margin-bottom: 2rem;
	}
	.last-changes .avatar {
		width: 27px;
		height: 27px;
		margin-right: 10px;
	}
}