:root {
	--ah-green: #5fcf80;
	--ah-dark: #343a40;
}
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-color: #E5E5E5;
	color: #3C4858;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
}
a {
  color: var(--ah-green);
}
a:hover {
  color: var(--ah-green);
  text-decoration: none;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: none;
  transition: background-color .5s, padding .5s;
  padding: 35px 0;
  z-index: 9999;
}
.bg-dark {
  background-color: rgba(52, 58, 64, .9) !important;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  background: transparent;
  border: none;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  margin-top: 4px;
  opacity: 0;
  margin-bottom: 4px;
}
.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	font-weight: 700;
	display: inline-block;
	padding-bottom: 0.25rem;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: #fff;
}
.nav-item:not(:last-child) .nav-link:after {
	display: block;
	content: "";
	margin-top: 2px;
	transform: scaleX(0);
	transition: transform .25s;
	border-bottom: 2px solid var(--ah-green);
}
.nav-item:not(:last-child) .nav-link:hover:after, .nav-item:not(:last-child) .nav-link.active:after {
	transform: scaleX(1);
}
.navbar-brand {
  margin: -5px;
  padding: 0;
  transition: opacity .5s;
}
.navbar-brand img {
  height: 40px;
}
.btn {
	cursor: pointer;
	border-radius: 6px !important;
}
button:active, button:focus, .btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.page-header {
	background: url(../img/yellow.jpg);
	height: 100vh;
	background-position: center center;
	background-size: cover;
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
	align-items: center;
}
.page-header .btn-get-started {
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.8rem 2rem;
	border-radius: 50px;
	transition: 0.3s;
	border: 2px solid var(--ah-green);
	color: #fff;
	cursor: pointer;
}
.page-header .btn-get-started:hover {
	background: var(--ah-green);
	border: 2px solid var(--ah-green);
}
.page-header-filter::before {
	background: rgba(0, 0, 0, 0.75);
}
.page-header-filter:before, .page-header-filter:after {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	content: "";
}
.page-header-filter .container {
	z-index: 2;
	position: relative;
}
.page-header > .container {
	color: #fff;
}
.page-header .title {
	color: #fff;
	user-select: none;
}
.title {
	font-weight: 700;
	margin-top: 30px;
	min-height: 32px;
}
.description, .card-description, .footer-big p {
	color: #999;
}
h4, h5, h6, .h4, .h5, .h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1, .h1 {
	font-size: 3.3125rem;
	line-height: 1.15em;
}
h2, .h2 {
	font-size: 2.25rem;
	line-height: 1.5em;
}
h3, .h3 {
	font-size: 1.5625rem;
	line-height: 1.4em;
}
h4, .h4 {
	font-weight: 300;
	font-size: 1.125rem;
	line-height: 1.5em;
}
h5, .h5 {
	font-size: 1.0625rem;
	line-height: 1.55em;
	margin-bottom: 15px;
}
h2.title {
	margin-bottom: 1rem;
}
.main {
	background: #fff;
	position: relative;
	z-index: 3;
	margin: 0px 30px 0px;
	border-radius: 6px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.section {
	padding: 70px 0;
}
.section:nth-of-type(even) {
	background: #f2f2f2;
}
.section:first-child {
  border-radius: 6px 6px 0 0;
}
.section:last-child {
  border-radius: 0 0 6px 6px;
}
.section-image {
  position: relative;
  color: #fff !important;
	background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}
.info {
	max-width: 360px;
	margin: 0 auto;
	padding: 70px 0 30px;
}
.info .info-title {
	color: #3C4858;
	margin: 1.75rem 0 0.875rem;
	font-weight: 700;
}
.info > i {
	font-size: 3.85rem;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 6px;
	color: rgba(0,0,0,.87);
	background: #fff;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card-plain {
	background: transparent;
	box-shadow: none;
}
.card-blog {
	margin-top: 60px;
	margin-bottom: 80px;
}
.card .card-header.card-header-image {
	position: relative;
	padding: 0;
	z-index: 1;
	margin-top: 20px;
	border-radius: 6px;
}
.card .card-header.card-header-image .colored-shadow {
	transform: scale(.94);
	top: 12px;
	filter: blur(12px);
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	transition: opacity .45s;
	opacity: 0;
}
.card-blog [class*=col-] .card-header-image img {
    width: 100%;
}
.card .card-header.card-header-image img {
	width: 100%;
	border-radius: 6px;
	pointer-events: none;
	box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}
.card-title {
	color: #3c4858;
	font-weight: 700;
	margin: 1.5rem 0 .625rem 0;
}
b, strong {
  font-weight: 700;
}
.tip {
  background: rgba(95, 207, 128, .15);
  padding: 20px 15px;
  line-height: 20px;
}
#echipa .description {
	margin-bottom: 80px;
}
.card-profile {
	margin-top: 30px;
	text-align: center;
}
.card .card-header {
	border-radius: 3px;
	padding: 1rem 15px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -30px;
	border: 0;
	background: linear-gradient(60deg,#eee,#bdbdbd);
}
.card-profile .card-avatar {
	max-width: 130px;
	max-height: 130px;
	margin: -50px auto 0;
	border-radius: 50%;
	overflow: hidden;
	padding: 0;
	box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}
.card-profile .card-avatar img {
	width: 100%;
	height: auto;
}
.card-profile .card-title {
	margin: 0;
}
.card-profile .card-footer a {
	font-size: 20px;
	padding: 12px;
	line-height: 1em;
}
.card-profile .card-body {
	padding-bottom: 0.5rem;
}
.card .card-body+.card-footer {
	padding-top: 0;
	border: 0;
	border-radius: 6px;
}
.card-plain .card-footer {
	padding-left: 5px;
	padding-right: 5px;
	background-color: transparent;
}
.fa-facebook-square {
	color: #3b5998;
}
.fa-instagram {
	color: #dd4084;
}
.fa-github {
	color: #24292e;
}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .25s;
	transition-property: opacity;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
.btn-primary, .btn-primary:hover, .btn-primary:active {
	background-color: var(--ah-green);
	border-color: var(--ah-green);
}
.fade.show {
	z-index: 10000;
}
body.modal-open {
	padding: 0 !important;
	overflow: unset;
}
body.modal-open .modal {
	display: flex !important;
	height: 100%;
}
.modal {
	z-index: 10001 !important;
	align-items: center;
}
.modal-dialog {
	width: 100%;
}
.modal-content {
	border: 0;
	border-radius: 6px;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.modal-header {
	border: 0;
	color: white;
	background: var(--ah-green);
	border-radius: 6px 6px 0 0;
	padding: 8px;
}
.modal-footer {
	padding: 8px;
}
.modal-title {
	margin: 0 auto;
	font-weight: 700;
}
.modal .form-control:focus {
	border-color: var(--ah-green);
	border-radius: 6px;
}
.modal .form-group:last-child {
    margin-bottom: 0;
}
.modal label {
	font-weight: 700;
}
.navbar-nav .dropdown-menu-login {
	min-width: 15rem;
	position: absolute;
	border: 0;
	padding: 0;
	border-radius: 6px;
	transform: scale(1, 0);
	transform-origin: top;
	animation-fill-mode: forwards; 
	display: block;
	transition: all 0.2s ease-out;
	background: transparent;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.dropdown-menu.show {
	display: block;
	transform: scale(1, 1);
}
.dropdown-menu-right {
	right: 0;
	left: auto;
}
.input-group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}
.input-group-prepend {
	margin-right: -1px;
	display: flex;
}
.input-group-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: var(--ah-green);
	border: 0;
	border-radius: 0;
}
.input-group .form-control {
	border: 1px solid var(--ah-green);
	border-radius: 0;
}
.input-group .form-control:focus {
	border-color: var(--ah-green);
}
.input-group:first-child .input-group-text {
	border-radius: 6px 0 0 0;
	margin-bottom: -1px;
}
.input-group:first-child .form-control {
	border-radius: 0 6px 0 0;
	margin-bottom: -1px;
}
form[name="login"] .btn {
	border-radius: 0 0 6px 6px !important;
	margin-top: -1px;
}
.page-header-logged {
	background: url(../img/sunrise.jpg);
	background-position: center center;
	background-size: cover;
	height: 45vh;
}
.page-header-logged.page-header-filter::before {
	background: rgba(0, 0, 0, 0.6);
}
.page-header-logged .title {
	margin-top: 0;
}
.main-logged {
	margin: -60px 30px 0px;
}
.avatar {
	width: 28px;
	height: 28px;
	margin-right: 10px;
	float: left;
	margin-top: -2px;
	border-radius: 50%;
	border: 2px solid var(--ah-green);
}
.last-allergies .card .card-header.card-header-image {
	margin-top: 10px;
}
.last-allergies .card .card-header {
	margin: 0 !important;
}
.last-allergies .card-title {
	margin: 0;
}
.last-allergies .card-description {
	font-size: .8rem;
}
@media (min-width: 992px) {
	#login-button {
		text-transform: uppercase;
		font-weight: 700;
		padding: 0.3rem 1rem;
		border-radius: 50px;
		transition: 0.3s;
		border: 2px solid var(--ah-green);
		color: #fff;
	}
	#login-button:hover {
		background-color: var(--ah-green);
	}
	.navbar-nav li {
		margin-left: 20px;
	}
}
@media screen and (max-width: 991px) {
	h1, .h1 {
		font-size: 2.25rem;
	}
	h2, .h2 {
		font-size: 1.5625rem;
	}
	.main {
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}
	.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar-brand {
		margin: 0;
		padding-left: 0.75rem;
	}
	.navbar-nav {
		margin-top: .5rem;
	}
	.navbar-nav .dropdown-menu-login {
		position: relative;
		width: 100%;
		display: none;
	}
	.navbar-nav .dropdown-menu.show {
		display: block;
	}
	.page-header-logged {
		height: 30vh;
	}
	.page-header-logged .title {
		margin-top: 10vh;
	}
	.section-logged {
		padding: 15px 0;
	}
	.last-allergies .card-title {
		margin-top: 1rem;
	}
}