@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.google.com/?selection.family=Roboto:400,500,700,900');
/* --- General Style --> */

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Poppins', sans-serif;
  background: #fff;
  color: #666666;
}

a {
  color: #5fcf80;
}

a:hover,
a:active,
a:focus {
  color: #5fcf80;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* --- Navbar --> */

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.container #nav-menu-container .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 7px 24px;
  border-radius: 50px;
  transition: 0.5s;
  margin: -20px 0px 5px;
  border: 2px solid #5fcf80;
  color: #fff;
}

.container #nav-menu-container .btn-get-started:hover
{
  background-color: #5fcf80;
  
}
.container #nav-menu-container .btn-get-started:hover:before
{
  visibility: hidden;
}

/* --- jQuery Fixed Nav --> */

#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  float: left;
  position: relative;
  white-space: nowrap;
}

.nav-menu ul {
  top: 0;
  left: 100%;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

/* --- Navbar Styling --> */

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  outline: none;
}

.nav-menu>li {
  margin-left: 20px;
}

.nav-menu>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5fcf80;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .menu-active>a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* --- Carousel --> */

#carousel {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/dandelion1.jpg) top center fixed;
  background-size: cover;
}

#carousel .carousel-container {
  background: rgba(0, 0, 0, 0.6);
  display: table-cell;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
}

#carousel h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#carousel h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#carousel .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #5fcf80;
  color: #fff;
}

#carousel .btn-get-started:hover {
  background: #5fcf80;
  border: 2px solid #5fcf80;
}

/* --- Jumbotron --> */

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #5fcf80;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-allergies,
.fa-user-md,
.fa-heart {
  color: #5fcf80;
  font-size: 8em;
  padding-bottom: 2rem;
  margin: 1rem;
}

/* --- Social Media --> */

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-youtube:hover {
  color: #5fcf80;
}

/*---Footer -->*/

footer {
  background-color: #485859;
}

footer p,
h5 {
  color: white;
}

#footer-logo {
  width: 16rem;
}

.footer-allergyhelp hr {
  color: #5fcf80;
}

/*---Media Queries -->*/

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #header #logo img {
    max-height: 40px;
  }
  #nav-menu-container {
    display: none;
  }
  #carousel h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #carousel h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}

/*---Firefox Bug Fix -->*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image -->*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix -->*/

[class*="col-"] {
  padding: 1rem;
}

#logo {
  width: 10rem;
  height: 3.4rem;
}

.footer-allergyhelp img {
  width: 10rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/